#tab_sd-forge-trt .trt_block {
    background-color: var(--background-fill-secondary);
    border-radius: 1em;
    padding: 1em;
}

#tab_sd-forge-trt .trt_block div.styler {
    gap: 1em;
}

#tab_sd-forge-trt .trt_block div.gradio-row {
    gap: 1em;
}

#tab_sd-forge-trt .trt_block div.form {
    background: var(--body-background-fill);
    border-radius: 1em;
    padding: 1em;
    gap: 1em;
}

#tab_sd-forge-trt .trt_block div.block.gradio-slider {
    background: unset !important;
}
